<div class="card-container">
  <mat-card id="login-card">
    <mat-card-header>
      <mat-card-title>Bejelentkezés felhasználói fiókba</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="loginForm"
        id="login-form"
        novalidate
        (ngSubmit)="signIn(loginForm)"
      >
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>E-mail cím</mat-label>
              <input
                matInput
                type="email"
                placeholder="példajózsef@email.com"
                formControlName="email"
              />
              <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Jelszó</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <mat-card-actions class="card-actions">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            BELÉPÉS
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card id="register-card">
    <mat-card-header>
      <mat-card-title>Új felhasználói fiók létrehozása.</mat-card-title>
    </mat-card-header>
    <form
      [formGroup]="registerForm"
      novalidate
      (ngSubmit)="registerUser(registerForm)"
    >
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Felhasználónév</mat-label>
            <input matInput placeholder="példajózsef" formControlName="name" />
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>E-mail cím</mat-label>
            <input
              matInput
              placeholder="példajózsef@email.com"
              formControlName="email"
            />
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Jelszó</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <mat-card-actions class="card-actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!registerForm.valid"
        >
          REGISZTRÁCIÓ
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
