.card-container {
  margin: 8rem 10rem;
  border-radius: 0.5rem;
  background-color: lightgrey;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  mat-card {
    margin: 4rem 5rem;
    min-width: 25rem;
    background-color: white;

    &-header {
      margin: 1rem;
      padding: 1rem;
      justify-content: center;
    }

    /* &-content {
      color: red;
    } */

    .card-actions {
      justify-content: center;
    }
  }
}

/* .mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.register {
  margin-top: 3rem;
  text-align: center;
} */
