footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  font-size: 2rem;
  color: white;
  background-color: #3f51b5;
  border-top: 3px solid black;
  text-align: center;
  align-self: flex-end;
}
