<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ hidden: !isHandset }"
    fixedInViewport="false"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'"
  >
    <mat-toolbar color="primary"
      >Menu
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset"
      >
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="userObject" (click)="drawer.toggle()"
        >Termékeim</a
      >
      <a mat-list-item *ngIf="userObject" (click)="drawer.toggle()"
        >Felhasználók</a
      >
      <mat-expansion-panel *ngIf="userObject" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ userObject.name }}</mat-panel-title>
        </mat-expansion-panel-header>
        <button (click)="drawer.toggle()" mat-menu-item (click)="logout()">
          Kijelentkezés
        </button>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [ngStyle]="{ cursor: 'pointer' }">Emarkt</span>
      <div [ngClass]="{ hidden: isHandset }">
        <a mat-button *ngIf="userObject">Termékeim</a>
        <a mat-button *ngIf="userObject">Felhasználók</a>
      </div>
      <span class="spacer"></span>
      <div *ngIf="userObject" [ngClass]="{ hidden: isHandset }">
        <button mat-button [matMenuTriggerFor]="menu">
          {{ userObject.name }}<mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Kijelentkezés</button>
        </mat-menu>
      </div>
      <button
        *ngIf="!userObject"
        mat-raised-button
        color="accent"
        routerLink="login"
      >
        Bejelentkezés
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
