.sidenav-container {
  height: 100%;

  .sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);

    .hidden {
      display: none;
    }
  }
}

mat-sidenav-content mat-toolbar {
  padding: 0rem 10rem;

  .spacer {
    flex: 1 1 auto;
  }
}
